<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout('Join Game', ~{::#content})}">
<body>
<div id="content">
    <h1 class="mt-md-2">Join <span th:if="${rulesetName} != null" th:text="${rulesetName}"></span> game</h1>
    <div class="text-danger" role="alert" th:if="${error} != null" th:text="${error}"></div>
    <form method="post" th:action="''" th:if="${joinAllowed}">
        <div class="mb-2" th:unless="${#strings.isEmpty(name)}">Hello, <span th:text="${name}"></span>!</div>
        <div class="mb-2" th:if="${#strings.isEmpty(name)}">Hello!</div>

        <div th:unless="${#strings.isEmpty(roleName)}">You will be playing the role of <span th:text="${roleName}"></span>.</div>
        <button class="btn btn-primary mt-3" type="submit">Join</button>
    </form>
</div>
</body>
</html>
