<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout::content('Lobby', ~{::#content})}">
<body>
<div id="content">
    <h1 class="mt-md-2"><span th:if="${rulesetName} != null" th:text="${rulesetName}"></span> game</h1>
    <div class="mb-2" th:unless="${#strings.isEmpty(myName)}">Hello, <span th:text="${myName}"></span>!</div>

    <h4 class="mt-4">Players</h4>

    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 5%;"></th>
          <th scope="col">Role</th>
          <th scope="col">Name</th>
          <th scope="col" th:if="${isOwner}">Invite link</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="player : ${players}">
          <td class="text-center"><i class="bi bi-person-arms-up" th:if="${player.me}"></i></td>
          <td th:text="${player.roleName}">Master</td>
          <td th:text="${player.name}">Anonymous</td>
          <td th:if="${isOwner}">
              <code th:text="${player.joinLink}" th:if="${player.joinLink != null}"></code>
          </td>
        </tr>
      </tbody>
    </table>

    <form th:if="${isAllowedToLaunch}"
          th:action="@{/game/{gameId}/lobby/{myPlayerId}(gameId = ${gameId}, myPlayerId = ${myPlayerId})}"
          class="mt-3" method="post">
        <button class="btn btn-primary btn-lg" type="submit" name="action" value="start">Start game</button>
    </form>

    <hr/>

    <button id="startWs">Start WS</button>
    <button id="sendMessage">Send message</button>

    <div id="results" class="row"></div>

    <script th:inline="javascript">
        (function() {
            function MynaWebsocketHandler(gameId, myPlayerId) {
                this.connection = null;
                this.gameId = gameId;
                this.myPlayerId = myPlayerId;
            }

            MynaWebsocketHandler.prototype.init = function () {
                this.$startWs = document.getElementById("startWs");
                this.$sendMessage = document.getElementById("sendMessage");
                this.$result = document.getElementById("results");

                this.$startWs.addEventListener("click", this.open.bind(this));
                this.$sendMessage.addEventListener("click", function () {
                   if (this.connection !== null) {
                       const message = "" + (+new Date());
                       this.connection.send(message);
                       this.dbg(`send message: ${message}`)
                   } else {
                       this.dbg("unable to send message, connection is closed");
                   }
                }.bind(this));
            };

            MynaWebsocketHandler.prototype.dbg = function (message) {
                this.$result.innerText += `\n${message}`;
            };

            MynaWebsocketHandler.prototype.open = function () {
                const wsProto = (document.location.protocol === "http:") ? "ws:" : "wss:";
                let wsUri = `${wsProto}//${document.location.host}/ws/game?gameId=${encodeURIComponent(this.gameId)}`;
                if (this.myPlayerId !== null) {
                    wsUri += `&rulesetPlayerId=${this.myPlayerId}`;
                }

                this.connection = new WebSocket(wsUri);

                this.connection.addEventListener("open", function (e) {
                   this.dbg(`connection opened: ${e}`);
                }.bind(this));

                this.connection.addEventListener("error", function (e) {
                   this.dbg(`error: ${e}`);
                }.bind(this));

                this.connection.addEventListener("close", function (e) {
                   this.dbg(`connection closed: ${e}`);
                   this.connection = null;
                }.bind(this));

                this.connection.addEventListener("message", function (e) {
                   this.dbg(`message received: ${e.data}`);
                }.bind(this));
            };

            const gameId = /*[[${gameId}]]*/null;
            const myPlayerId = /*[[${myPlayerId}]]*/null;

            window.Myna = window.Myna || {};
            window.Myna.wsHandler = new MynaWebsocketHandler(gameId, myPlayerId);
            window.Myna.wsHandler.init();
        })();

    </script>
</div>
</body>
</html>
