<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/webjars/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css}" rel="stylesheet">
  <link th:href="@{/static/main.css}" rel="stylesheet">
  <title th:text="(${title} ? ${title} + ' • ' : '') + 'Myna'">Myna</title>
</head>

<body>
</body>
</html>
