# postgres password, both variables must have the same values
POSTGRES_PASSWORD=replace-me-psqlpass
SPRING_DATASOURCE_PASSWORD=replace-me-psqlpass

# redis password
SPRING_DATA_REDIS_PASSWORD=replace-me-redispass

# Define admin API tokens if you want to access admin API
#MYNA_ADMINAPI_TOKENS_0=admintoken
#MYNA_ADMINAPI_TOKENS_1=admintoken2

# base uri for service, scheme://host:port
MYNA_BASEURI_SCHEME=https
MYNA_BASEURI_HOST=domain.example.com
MYNA_BASEURI_PORT=443
